.item-card{
    position: relative;
    width: 180px;
    min-height: 310px;
    margin: 15px 10px;
    border: 5px solid #8a9696;
    border-radius: 6px;
    background-color: #788282;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: flex-start;
    text-align: center;  

    .image{
        position: relative;
        width: 100px;
        height: 100px;
        padding: 10px 40px;
    }

    .name .count .restock {
        position: relative;
        color: #1b1f24;
        padding: 15px;
        font-size: 18px;
    }

    .restock{
        border: 3px dashed #8a9696;
        border-radius: 3px;
        padding: 5px;
        background-color: #8a9696;
    }

    .textInpR, .textInpC, .textInp{
        position: relative;
        font-family: "Trebuchet MS";
        width: 60px;
        font-size: 16px;
        color: #303840;
        background-color: #c3ccd4;
        padding: 4px;
        border: 2px solid #8d8e91;
        border-radius: 5px;
    }

}
