<!DOCTYPE html>
<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/authPage.js') }}"></script>
    <p class="labelText" style="font-size: 32px">Manager Login:</p>
    <form action = "/auth_page" method = "POST">
        <p class="labelText">Username
            <label> <input type = "text" name = "Username" required /></label>
        </p>
        <p class="labelText">Password
            <label> <input type = "password" name = "Password" required /></label>
        </p>
        <input class="buttonSty"  type = "submit" value = "Submit" />
    </form>
</body>
