<!DOCTYPE html>
<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/mainPage.js') }}"></script>

    <p class="labelText" style="font-size: 32px">Smart Shelf System Interface:</p>

    <div class="shelfDiv" id="s1Div" >
        <p><b class="labelText">Shelf Unit #1:</b></p>
        <p id="s1Text" class="dataText"></p>
    </div>

    <div class="shelfDiv" id="s2Div" >
        <p><b class="labelText">Shelf Unit #2:</b></p>
        <p id="s2Text" class="dataText"></p>
    </div>

    <div class="shelfDiv" id="s3Div" >
        <p><b class="labelText">Shelf Unit #3:</b></p>
        <p id="s3Text" class="dataText"></p>
    </div>


</body>
