<!DOCTYPE html>
<title>Manager Page</title>
<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/item.css') }}" />
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/managerPage.js') }}"></script>

    <div id="header" class="mainDiv">
        <p><b class="mainText" style="font-size: 48px">Smart Shelf System Manager Settings:</b></p>
        <form action="/">
            <button class="adButton" id="back" type="submit">
            Home
        </button></form>
    </div>


    <div class="shelfDiv">
        <p><b class="labelText">Shelf Unit #3:</b></p>

        <form action="/manager_page" method="post">
            <input type="hidden" name="cal" value="3">
            <button class="mgButton" type="submit">Calibrate</button>
        </form>

        <div class="itemsDiv" id="items_s3">
            <span class="mainText">Items:</span>
            <p id="s3Data" class="dataText">No-Data</p>
        </div>

        <div class="itemsDiv">
            <form action="/manager_page" method="post">
                <p class="labelText">Add New Item:
                    <label>
                        <select class="textInp" id="newItemsS3" name="newItem" required>
                            <option value="">-- Select an item --</option>
                        </select>
                        <input type="hidden" name="newItemShelf" value="3">
                        <button class="adButton" type="submit">Add-Item</button>
                    </label>
                </p>
            </form>
        </div>
    </div>

    <div class="shelfDiv">
        <p><b class="labelText">Shelf Unit #2:</b></p>

        <form action="/manager_page" method="post">
            <input type="hidden" name="cal" value="2">
            <button class="mgButton" type="submit">Calibrate</button>
        </form>

        <div class="itemsDiv" id="items_s2">
            <span class="mainText">Items:</span>
            <p id="s2Data" class="dataText">No-Data</p>
        </div>

        <div class="itemsDiv">
            <form action="/manager_page" method="post">
                <p class="labelText">Add New Item:
                    <label>
                        <select class="textInp" id="newItemsS2" name="newItem" required>
                            <option value="">-- Select an item --</option>
                        </select>
                        <input type="hidden" name="newItemShelf" value="2">
                        <button class="adButton" type="submit">Add-Item</button>
                    </label>
                </p>
            </form>
        </div>

        </div>

            <div class="shelfDiv">
            <p><b class="labelText">Shelf Unit #1:</b></p>

            <form action="/manager_page" method="post">
                <input type="hidden" name="cal" value="1">
                <button class="mgButton" type="submit">Calibrate</button>
            </form>

            <div class="itemsDiv" id="items_s1">
                <span class="mainText">Items:</span>
                <p id="s1Data" class="dataText">No-Data</p>
            </div>

            <div class="itemsDiv">
                <form action="/manager_page" method="post">
                    <p class="labelText">Add New Item:
                        <label>
                            <select class="textInp" id="newItemsS1" name="newItem" required>
                                <option value="">-- Select an item --</option>
                            </select>
                            <input type="hidden" name="newItemShelf" value="1">
                            <button class="adButton" type="submit" >Add-Item</button>
                        </label>
                    </p>
                </form>
        </div>

    </div>



</body>
